
/* Your CSS Code here. */
.r1{
	
}
.r2{
	
}
.r1c1{
	width:50%;
}
.r2c1{
	width:50%;
}
.t4r2{
	color:white;
	background-color:black;
}
.tab1{
	width:100%
	
}
.tab2{
	width:100%
	
}
.tab3{
	width:100%
}
.tab4{
	width:100%
}
table{
	text-align:center;
}