
/* Your CSS Code here. */

.r1c1{
	width:50%;
}
.r2c1{
	width:50%;
}
.t4r2{
	
	background-color:rgb(0, 0, 0);
}
.tab1{
	width:100%
	
}
.tab2{
	width:100%
	
}
.tab3{
	width:100%
}
.tab4{
	width:100%
}
table{
	text-align:center;
}